 python standard libraries for time: time, calendar, datetime
 datetime class is importand for work with time series
 - work with time, dates and intervals
 date-class: years between 1 - 9999
 - instanz der datetime klasse besteht sowohl aus datum als auch aus zeit
 - time-klasse
 - timedelta-klasse
 - tzinfo

In [1]:
from datetime import date 

x = date(1993, 12, 24)

In [2]:
print(x)

1993-12-24

In [3]:
print(date.min)

0001-01-01

In [4]:
print(date.max)

9999-12-31

Wenn Sie den Wochentag eines bestimmten Tages wissen möchten, kann dies mit der Methode weekday berechnet werden. weekday liefert Zahlen zwischen 0 (Montag) und 6 (Sonntag) zurück.

Klein, Bernd. Numerisches Python (German Edition) (S.339). Carl Hanser Verlag GmbH & Co. KG. Kindle-Version.

In [5]:
print(x.weekday())

4

In [6]:
print(date.today())

2021-10-30

In [7]:
print(x.day)

24

In [8]:
print(x.month)

12

In [9]:
print(x.year)

1993

In [10]:
from datetime import time

In [11]:
t = time(15, 6, 23)

In [12]:
print(t)

15:06:23

In [13]:
print(t.min)

00:00:00

In [14]:
print(t.max)

23:59:59.999999

In [15]:
print(t.hour)

15

In [16]:
print(t.minute)

6

In [17]:
print(t.second)

23

In [18]:
#Jede Komponente eines Zeit-Objekts kann durch replace() geändert werden

In [19]:
t = t.replace(hour=11, minute=59)

In [20]:
t

datetime.time(11, 59, 23)