In [3]:
import pandas as pd
from RSIBacktester import RSIBacktester as RSI
from EMABacktester import EMABacktester as EMA
from BBBacktester import BBBacktester as BB

In [24]:
from matplotlib.backends.backend_pdf import PdfPages
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv("./hist_data/ETH/5min/eth_6month.csv")
df.head(1)

                  date  askopen  askclose  askhigh   asklow
0  2021-05-02 21:00:00   2761.6   2977.35  2978.95  2974.15

In [16]:
df.rename(columns={'date': 'Date', 'askopen': 'Open', "askclose": "Close", "askhigh": "High", "asklow":"Low" }, inplace=True)

In [17]:
df.head(1)

                  Date    Open    Close     High      Low
0  2021-05-02 21:00:00  2761.6  2977.35  2978.95  2974.15

In [18]:
ptc = 0.0007
symbol = "ETH"
duration = "6M"
bar_size= "5min"
EMA_str = EMA(symbol, df, 50, 200, ptc, duration, bar_size)
EMA_str.optimize_parameters((25, 75, 1), (100, 200, 1))

(array([ 36., 154.]), 3.417121)

In [28]:
def save_figure(strategy):
    strategy_name = strategy.name
    symbol = strategy.symbol
    plot_name = symbol + "_" + strategy_name + ".pdf"
    pp = PdfPages(plot_name)
    plot = strategy.plot_results()
    fig = plot.get_figure()
    pp.savefig(fig)
    plt.close(fig)
    pp.close()

In [29]:
save_figure(EMA_str)